.page-header__item {
    width: 50px;
}

.page-title {
    color: #ffcb05;
    text-decoration: underline;
}
.button-class {
    background-color: #003a70;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #003a70;
  }